body {
	margin: 0;
	color: #9cf;
	background-color: black;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

a:link, a:visited, a:hover, a:active {
	color: #9cf;
}
a:hover { background-color: #036; }

p { font-size: 11pt; }

h1, h2 {
	font-size: 14pt;
	font-weight: normal;
	margin-top: 24px;
	margin-bottom: 2px;
}

ul { margin-top: 0; }

main {
	margin-left: 22px;
	max-width: 680px;
}


